.gradient
{
    background-image: linear-gradient(to bottom left, rgb(149,115,156), rgb(152, 206, 219));
}
.gradient-button
{
    background-image: linear-gradient(to bottom left, rgb(69, 167, 98), rgb(54, 166, 194));
}
.button-hover:hover,.gradient-button:hover
{
    background-image: linear-gradient(to bottom left, rgb(179, 189, 94), rgb(163, 56, 163));
}
