NEXT_PUBLIC_SITE_URL=https://your-domain.example
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=user_Kj1AVDKWxG9atXvMnr5Ni
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_xhj7azs
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_zgc8t6b
